.sidebar{
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--bg-color-inverted);
  position: relative;
  transition: width .3s linear;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
  &--open{
    width: var(--sidebar-width-collapsed);
  }
  &__nav{
    display: flex;
    justify-content: center;
  }
  &__switchers{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  &__squeeze{
    position: absolute;
    left: 100%;
    z-index: 10;
    opacity: 1;
    transition: opacity .25s linear;
    &:hover{
      opacity: .4;
    }
  }
  &__toggle{
    transform: translateX(20px);
  }
  &__angle{
    border-left: 3px solid var(--bg-color);
    border-bottom: 3px solid var(--bg-color);
    width: 20px;
    height: 20px;
    transform: translateX(25%) rotate(45deg);
    transition: transform .25s linear;
    &--rotate{
      transform: translateX(-25%) rotate(-140deg);
    }
  }
}