.navbar {
  &__nav{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    flex-wrap: wrap;
    &--squeeze{
      justify-content: center;
    }
  }
  &__symbol{
    font: var(--font-m);
  }
  &__ico{
    max-width: 30px;
  }
}