.navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--bg-color-inverted);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  column-gap: 20px;
}