@import "./variables/global";
@import "./theme/normal";
@import "./theme/dark";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font: var(--font-m);
}

.app {
  background: var(--bg-color);
  color: var(--primary-color);
  height: 100vh;
}

.content-page{
  display: flex;
}

.content-main{
  padding: 20px;
  display: flex;
}

iframe#webpack-dev-server-client-overlay{
  display: none;
}
.sb-main-padded.sb-show-main{
  padding: 0;
}
