.profile-header{
  display: flex;
  justify-items: auto;
  &__h{
    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }
  &__interaction{
    display: flex;
    column-gap: 20px;
  }
}