.editor-article{
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: center;

  &__form{
    width: 100%;
    max-width: 600px;
  }
  &__input{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    &--hidden{
      display: none;
    }
  }
}