.login-form{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 100%;
  max-width: 800px;
  position: relative;
  padding-top: 20px;
  &__wrapper{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__h{
    font-size: 25px;
    padding-bottom: 20px;
  }
  &__basement{
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
  &__btn{
    width: 100%;
    max-width: 300px;
  }
  &__error{
    position: absolute;
    bottom: 100%;
    transform: translateY(100%);
    display: flex;
    justify-content: center;
    width: 100%;
  }
}