.article-virtualized{
  &::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--primary-color);
  }
  &::-webkit-scrollbar-thumb{
    border-radius: 8px;
  }
  &--inside{
    position: relative;
    background-color: var(--card-bg);
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 100%;
  }
  &--item{
    overflow: hidden;
    text-decoration: none;
    transform: scale(1);
    transition: transform .25s linear;
    padding: 10px 0;
  }
  &--list{

  }
}

.item-block{
  position: relative;
  &__roof{
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: space-between;
  }
  &__user{
    display: flex;
    align-items: center;
    column-gap: 16px;
  }
  &__avatar{
    width: 55px;
    height: 55px;
  }
  &__date{
    align-self: flex-start;
  }
  &__info{
    display: flex;
    flex-direction: column;
    column-gap: 16px;
  }
  &__image{
    max-height: 250px;
    object-fit: cover;
  }
  &__text{
    max-height: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 20px;
  }
  &__basement{
    display: flex;
    padding: 0 20px 20px 20px;
  }
  &__eye{
    flex: 1 1 300px;
  }
  &__piece{
    font: var(--font-l);
  }
  &__title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}