.rating-stars{

  &__unit{
    fill: transparent;
    transition: fill .2s linear;
    cursor: pointer;
    &:hover{
      fill: var(--primary-color);
    }
  }
  &__fill{
    fill: var(--primary-color);
  }
}