.rating-stars{
  &__space{
    &:hover {
      & > * {
        fill: var(--primary-color);
      }
    }
  }
  &__unit{
    fill: transparent;
    transition: fill .2s linear;
    cursor: pointer;
    &:hover{
      & ~ * {
        fill: transparent;
      }
    }
  }
  &__fill{
    fill: var(--primary-color);
  }
}