.article{
  height: 100%;
  &__roof{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    column-gap: 30px;
  }
  &__middle{
    padding-bottom: 20px;
    width: 100%;
  }
}