.select{
  &__input{
    cursor: pointer;
  }
  &__frame{
    position: relative;
  }
  &__select{
    display: none;
  }
  &__drop{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: red;
    overflow: hidden;
    z-index: 10;
    height: 0;
    &--open{
      height: auto;
      &::before{
        content: "";
        position: fixed;
        background: transparent;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
      }
    }
  }
}