.tab{
  cursor: pointer;
  background-color: var(--bg-color-inverted);
  color: var(--bg-color);
  font-size: var(--font-size-l);
  border: 0;
  padding: 12px 24px;
  border-radius: 10px;
  transition: background-color .25s linear, color .25s linear;
  &:hover{
    color: var(--bg-color-inverted);
    background-color: var(--secondary-color-inverted);
  }
  &--active{
    background-color: var(--secondary-color);
  }
}