.AppLink{
  color: var(--primary-color);
  opacity: 1;
  transition: .25s linear opacity;
  &:hover {
    opacity: .75;
  }
}

.primary{
  color: var(--primary-color);

}

.secondary{
  color: var(--primary-color-inverted);
}

.red{
  color: red;
}