.drawer{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--overlay-bg);
  &__btn{
    background: transparent;
    border: none;
    outline: none;
  }
  &__inner{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-color);
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}