.profile-card{
  display: flex;
  flex-direction: column;
  &--border{
    border: 2px solid var(--bg-color-inverted);
  }
  &--loader, &--error{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  &__area{
    padding: 20px;
  }
  &__input{
    border: 1px solid var(--secondary-color);
    border-radius: 2px;
  }
}