.text{
  &__title{
    font: var(--font-l);
    &--primary{
      color: var(--primary-color);
    }
    &--inverted{
      color: var(--primary-color-inverted);
    }
    &--error{
      color: var(--red-light);
    }
  }
  &__p{
    font: var(--font-m);
    &--primary{
      color: var(--secondary-color);
    }
    &--inverted{
      color: var(--secondary-color-inverted);
    }
    &--error{
      color: var(--red-dark);
    }
  }
  &--right{
    text-align: right;
  }
  &--center{
    text-align: center;
  }
  &--left{
    text-align: left;
  }
  &--size-m{
    font: var(--font-m);
  }
  &--size-l{
    font: var(--font-l);
  }
  &--size-xl{
    font: var(--font-xl);
  }
}