.input{
  padding: 8px 16px;
  font-size: 16px;
  border: 0;
  outline: none;
  width: 100%;
  &--white{
    color: var(--bg-color-inverted);
    background-color: var(--bg-color);
    &::placeholder{
      color: var(--bg-color-inverted);
    }
  }
  &--white-inverted{
    color: var(--bg-color);
    background-color: var(--bg-color-inverted);
  }
  &__wrapper{
    width: 100%;
    margin-bottom: 16px;
    position: relative;
    border-radius: 6px;
    &--white-color{
      color: var(--bg-color-inverted);
    }
    &--white-color-inverted{
      color: var(--bg-color);
    }
  }
  &__label{
    font-size: 16px;
  }
  &__alert{
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 12px;
  }
}