.input{
  padding: 12px 24px;
  font-size: 20px;
  outline: none;
  width: 100%;
  &--white{
    color: var(--bg-color-inverted);
    background-color: var(--bg-color);
    &::placeholder{
      color: var(--bg-color-inverted);
    }
  }
  &--white-inverted{
    color: var(--bg-color);
    background-color: var(--bg-color-inverted);
  }
  &--readonly{
    opacity: .7;
  }
}