.input{
  padding: 12px 24px;
  font-size: 20px;
  outline: none;
  width: 100%;
  &--bg-color{
    color: var(--primary-color-inverted);
    background-color: var(--bg-color);
    &::placeholder{
      color: var(--primary-color-inverted);
    }
  }
  &--bg-color-inverted{
    color: var(--bg-color);
    background-color: var(--bg-color-inverted);
  }
  &--readonly{
    opacity: .7;
  }
  &::placeholder{
    color: var(--secondary-color);
  }
}